.StatusBar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #007ACC;
    color: white;
    height: 20px;
    padding-left: 5px;
    padding-right: 5px;
}

.StatusBar a, .StatusBar span {
    text-decoration: none;
    color: white;
    font-size: 12px;
}