.Toolbar {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 48px;
    padding-top: 16px;
    background-color: #333333;
}

.Toolbar .icon {
    fill: #ADADAD;
    width: 32px;
    height: 32px;
    margin-bottom: 16px;
}