.FileTab {
    cursor: pointer;
    width: auto;
    height: inherit;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: #2D2D2D;
    padding-left: 10px;
    padding-right: 10px;
    border-right: 1px solid #1E1E1E;
}

.FileTab:last-child {
    border: none;
}

.FileTab.active {
    background-color: #1E1E1E;
}

.FileTab .title {
    height: 100%;
    display: flex;
    align-items: center;
    color: #969696;
    font-size: 12px;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.FileTab .icon {
    margin-left: 5px;
    fill: #C5C5C5;
    opacity: 0;
}

.FileTab.active .icon, .FileTab:hover .icon {
    opacity: 1;
}

.FileTab.active .title {
    color: white;
}