.Header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: #007ACC;
    color: white;
    height: 22px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 12px;

}

.Header a, .Header span {
    text-decoration: none;
    color: white;
}

.Header .name {
    font-weight: bold;
}

.Header .side {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.Header .side > .item {
    margin: 10px;
}

.Menu > span {
    margin: 5px;
}

.Menu .menuItem .submenu {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 22px;
    min-width: 120px;
    z-index: 100;
    background-color: #2D2F31;
    border-bottom-right-radius: 2px;
    border-bottom-left-radius: 2px;
    box-shadow: 0 3px 10px black;
}

.Menu .clickableOverlay {
    z-index: 99;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.Menu .menuItem .submenu div.item {
    color: #BBBBBB;
    height: 26px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 3px 10px;
}

.Menu .menuItem .submenu div.item:hover {
    background-color: #3A3A3A;
}

.Menu .menuItem .submenu div.separator {
    margin: 5px auto 5px auto;
    width: 85%;
    height: 1px;
    background-color: #444546;
}